# Database
MARIADB_DATABASE=c-share
MARIADB_USER=c-share
MARIADB_PASSWORD=c-share
MARIADB_ROOT_PASSWORD=c-share-root

# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=8081

# Client
VITE_APP="c-share"
VITE_API="http://localhost:8081"
VITE_SOURCE="https://github.com/Cyan903/c-share"

CLIENT_PORT="8080"
