.err-404 h1 {
    font-size: 4rem;
}

.err-404 h3 {
    font-size: 2rem;
}

@media (max-width: 500px) {
    .err-404 h1 {
        font-size: 2.5rem;
    }

    .err-404 h3 {
        display: none;
    }
}
