{{ template "base" . }}
{{ define "title" }} Invalid Password! {{ end }}

{{ define "css" }}
<style>
h2 {
    font-size: 2rem;
    animation: shake 1s normal forwards ease-in-out;
}

input {
    padding: 1em;
    border-radius: 10px;
    color: #fff;
    font-weight: bolder;
}

input[type="password"] {
    border: 2px solid #3e4450;
    background-color: inherit;
    text-align: left;
}

input[type="submit"] {
    background-color: #661ae6;
    border: 2px solid #661ae6;
    box-shadow: 0 2px 0 #33106e;
}

input[type="password"]:focus {
    outline: 3px solid #3e4450;
}

input[type="submit"]:active {
    position: relative;
    box-shadow: none;
    top: 2px;
}

@media (max-width: 350px) {
    input[type="password"] {
        width: calc(80% - 2em);
    }

    input[type="submit"] {
        margin: 10px 0;
        width: 80%;
    }
}

@keyframes shake {
    from {
        color: #f87272;
    }
    to {
        color: #fff;
    }
}
</style>
{{ end }}

{{ define "content" }}
<h2>Invalid Password!</h2>
<form method="GET">
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Submit" />
</form>
{{ end }}
